.loginBtn {
    width: 100%;
}

.inputForm {
    width: 100%;
    border-radius: 20px;
    background-color: gainsboro;
    color: black;
}

.forgotPW {
    font-size: 12px;
}

.segment {
    border-style: solid;
    border-radius: 12px;
    width: 100%;
    height: 50px;
    margin-bottom: 30px;
}

.segment ion-segment-button {
    --background-checked: #6A00BF;
    --color-checked: white;
}