.loginBtn {
    width: 100%;
    height: 7vh;
}

.forgotPW {
    font-size: 12px;
}

.login-segment{
    width: 90%;
    --background: white;
    --color: black;
    margin: auto;
}

.login-segment-button{
    --background-checked: black;
    --indicator-color: transparent;
    --color-checked: white;
} 

.login-margin-top{
    margin-top: 4vh;
}