.loginBtn {
    width: 100%;
}

.forgotPW {
    font-size: 12px;
}

.segment {
    border-style: solid;
    border-radius: 12px;
    width: 90%;
    height: 50px;
    margin: auto;
}

.segment ion-segment-button {
    --background-checked: #6A00BF;
    --color-checked: white;
}

.login-margin-top{
    margin-top: 4vh;
}