ion-item {
    --padding-start: 0;
    --padding-top: 0;
    --padding-bottom: 0;
}

ion-card-title{
    font-size: 1.5vh;
}

ion-card-subtitle{
    font-size: 1vh;
}

ion-thumbnail{
    height: 12vh;
    width: 12vh;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
}

ion-item{
    border: none !important;
    box-shadow: 0vh 0vh 3vh 0.5vh #CCCCCC;
}

ion-segment{
    --background: white;
    --color: black;
}

ion-segment-button{
    --background-checked: black;
    --indicator-color: transparent;
    --color-checked: white;
} 

ion-card{
    --background-color: transparent;
}